.search {
	width: 90%;
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: nowrap;
	/* background-color: palevioletred; */
}
.mainInput {
	all: unset;
	box-sizing: border-box;
	padding: 10px;
	padding-left: 20px;
	width: 85%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px 0px 0px 10px;
}
.mainInput::placeholder {
	font-size: 12px;
}
.mainButton {
	all: unset;
	position: relative;
	box-sizing: border-box;
	padding: 0px;
	width: 15%;
	height: 100%;
	background-color: #000;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.mainButton:hover {
	background-color: hsl(0, 0%, 17%);
}

.invalid {
	border: 3px solid #ff5050;
	border-right: none;
}

@media screen and (min-width: 800px) {
	.search {
		width: 50%;
	}

	.mainInput::placeholder {
		font-size: 16px;
	}
	.invalButt::before {
		content: "invalid IP";
		position: absolute;
		top: 50%;
		transform: translate(0%, -50%);
		left: -90%;
		border: 2px solid red;
		padding: 2px 5px;
		border-radius: 5px;
		font-size: 10px;
		color: red;
		transition: all 0.3s;
	}

	.invalButt:hover::before {
		background-color: #ff5050;
		color: #fff;
	}
}
