.search {
	width: 90%;
	height: 12%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: nowrap;
	/* background-color: palevioletred; */
}
.mainInput {
	all: unset;
	box-sizing: border-box;
	padding: 10px;
	padding-left: 20px;
	width: 85%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px 0px 0px 10px;
}
.mainButton {
	all: unset;
	box-sizing: border-box;
	padding: 0px;
	width: 15%;
	height: 100%;
	background-color: #000;
	border-radius: 0px 10px 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 800px) {
	.search {
		width: 50%;
	}
}
