* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: "Rubik", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#spinner {
	position: fixed;
	margin-top: 0;

	z-index: 100;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
